.click{
    font-size: 28px;
    font-family: Helvetica, Times 'Times New Roman', sans-serif;
    cursor: pointer;
}

.click.me{
    background-color: black;
    color: white;
}

.click.noMe{
    background-color: yellow;
}